<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{title}} cv project</title>
    <link rel="icon" href="./ppic.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="container page">
        {{#if pdf}} {{else}}
        <a href="https://github.com/LucasScript/cv-project" class="github-corner screen" aria-label="View source on Github">
            <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#deeef9; color:#fff; position: absolute; top: 0; border: 0; right: 0;"
                aria-hidden="true">
                <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                    fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                    fill="currentColor" class="octo-body"></path>
            </svg>
        </a>
        {{/if}}

        <div class="top mt-2">
            <h2 class="m-0 heading">
                <img src="./ppic.png" class="rounded-circle float-left" style="width: 10rem;position: absolute;margin-right: 1rem;">
                <span style="padding-left: 10rem;">Gysbert Lucas Olivier</span>
                <p class="sub-heading">Software Craftsman
                    <br />
                    <time datetime="" class="text-muted">Last update: {{updated}}</time>
                    <br /> {{#if pdf}}
                    <span class="print">The online version is available at
                        <br />
                        <a href="http://LucasScript.github.io/my-cv-repo">
                            <i class="fab fa-github" aria-hidden="true"></i>http://LucasScript.github.io/my-cv-repo
                        </a>
                    </span>
                    {{else}}
                    <span class="screen">
                        <a href="./cv.pdf">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a>
                    </span>
                    {{/if}}
                </p>
            </h2>
        </div>
        <div class="d-flex">
            <div class="left-column">

                <div class="category">
                    {{#each profile}}
                    <h4 class="text-wrap">
                        <i class="fas fa-user"></i>
                        {{ @key }}
                    </h4>
                    <div class="section">
                        <p style="white-space: pre-line;">{{ this }}</p>
                    </div>
                    {{/each}}
                </div>

                <div class="category">
                    <h4 class="text-wrap">
                        <i class="fas fa-suitcase"></i>
                        Employment
                    </h4>
                    {{#each employment}}
                    <div class="section">
                        <h5 class="m-0 p-0">
                            <strong>{{ this.position }}</strong> at {{ this.place }}
                        </h5>
                        <span class="time">{{ this.time }}</span>
                        <p style="white-space: pre-line;">{{ this.description }}</p>
                    </div>
                    {{/each}}
                </div>

                <div class="category">
                    <h4 class="text-wrap" style="margin-left: -4px;">
                        <i class="fas fa-graduation-cap"></i>
                        Education
                    </h4>
                    {{#each education}}
                    <div class="section">
                        <h5 class="m-0 p-0">
                            <strong>{{ this.type }} {{#if this.degree}}
                                <span>in</span>
                                {{/if}} {{ this.degree }}
                            </strong> at {{ this.place }}
                        </h5>
                        <span class="time">{{ this.time }}</span>
                        <p style="white-space: pre-line;"> {{ this.description }}</p>
                    </div>
                    {{/each}}
                </div>
                <div class="category">
                    <h4 class="text-wrap" style="margin-left: -4px;">
                        <i class="fas fa-graduation-cap"></i>
                        References
                    </h4>
                    <div class="section">
                        <p style="white-space: pre-line;"> {{ References }}</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="section details">
                    {{#each details}}
                    <div class="text-wrap label uppercase">{{ @key }}</div>
                    <div style="padding-bottom: 15px;">
                        {{#each this}}
                        <div class="">{{{ this }}}</div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
                <div class="section social" style="padding-bottom: 15px;">
                    {{#each social}} {{#each this}}
                    <a class="text-wrap label uppercase" href="{{this}}">
                        <span class="uppercase">{{ @key }}</span>
                    </a>
                    {{/each}} {{/each}}
                </div>
                <div class="section languages">
                    <p class="label uppercase">Languages</p>
                    {{#each languages}}
                    <div class="text-wrap label">{{ this.name }}</div>
                    <div class="progressbar width-{{this.rating}}" ></div>
                    {{/each}}
                </div>
                <div class="section skills" style="padding-bottom: 15px;">
                    <p class="label uppercase">Skills</p>
                    {{#each skills}}
                    <div class="label">{{ this }}</div>
                    {{/each}}
                </div>
                <div class="section tech" style="padding-bottom: 15px;">
                    <p class="label uppercase">Tech</p>
                    {{#each tech}}
                    <div class="text-wrap label">{{ this.name }}</div>
                    <div class="progressbar width-{{this.rating}}" ></div>
                    {{/each}}
                </div>
                <div class="section hobbies" style="padding-bottom: 15px;">
                    <p class="label uppercase">Hobbies</p>
                    {{#each hobbies}}
                    <div class="label">{{ this }}</div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</body>

</html>