.page {
    /* max-width: 1250px; */
    color: #555;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 40px;
    padding-top: 40px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.75);
}

.heading {}

.sub-heading {
    padding: 0;
    font-size: 50%;
    padding-left: 11rem;
    padding-bottom: 2rem;
    padding-top: 1.5rem
}

.sub-heading>time {
    font-size: 60%;
}

.right-column {
    width: 30%;
    position: absolute;
    top: 30px;
    left: 80%;
}

.right-column .section {
    padding-left: 10px;
    border-left: 2px solid #777;
    margin-bottom: 5px;
}

.progress {
    height: 3px;
    width: 95%;
}

.label {
    color: #666;
}

progress[value] {
    height: 3px;
}

p.label {
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.left-column {
    width: 80%;
    padding-right: 35px;
    padding-left: 35px;
}

.category .section {
    border-left: 2px solid #777;
    padding-left: 15px;
    margin-left: 9px;
}

.category {}

.category h4>.fas {
    margin-right: 2px;
}

.category .time {
    display: block;
    margin-bottom: 2px;
    color: #2DC3FF;
}